* {
	font-family: monospace, monaco;
	font-weight: 100;
}

.container {
	padding: 20px 5px;
	background: #86f;
	
}

.caja {
	background: #025;
	height: 80px;
	width: 80px;
	transition-property: left, background;
	transition-duration: 2s, 3s;
	margin: 20px;
	position: relative;
	left: 0;
}

.container:hover > .caja {
	background: lightgreen;
	left: 80%;
}

.caja:first-child {
	transition-timing-function: linear;
}

.caja:nth-child(2) {
	transition-timing-function: ease;
}

.caja:nth-child(3) {
	transition-timing-function: ease-in;
}

.caja:nth-child(4) {
	transition-timing-function: ease-out;
}

.caja:nth-child(5) {
	transition-timing-function: ease-in-out;
}

